.container{
    padding: 20px;
    max-width: 900px;
    margin:auto;
}

input{
    padding: 8px;
    margin: 5px;
    width: 200px;
}

button{
padding: 8px 12px;
margin: 5px;
cursor: pointer;
}

.product-grid{
    display:grid;
grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
gap:15px;
margin-top: 20px;
}

.product-card{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    background: #f9f9f9;
}

.product-card h3{
    color: #000;
    margin-bottom: 5px;
}

.product-card p{
    color: #333;
    font-weight: 500;
}

/* Mobile view */
@media(max-width:600px)
{
    .product-grid{
        grid-template-columns: 1fr;
    }

    input{
        width: 100%;
        margin-bottom: 10px;
    }

    button{
        width: 100%;
margin-bottom: 10px;
    }
}

/* Tablet View */

@media(min-width:601px)and (max-width:900px)
{
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
}